target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/test/logs/
src/test/logs/**
src/test/logs/**/**
live/share/java/jms-bridge/*
backup/share/java/jms-bridge/*
live/logs/**
backup/logs/**
live/streams-state/**
backup/streams-state/**