<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020 Confluent Inc.
  -->

<Configuration status="WARN">

    <appender name="main" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="main"/>
    </root>
    <logger name="io.confluent.amq" level="info" additivity="false">
        <appender-ref ref="main"/>
    </logger>
    <logger name="org.apache.activemq" level="info" additivity="false">
        <appender-ref ref="main"/>
    </logger>
    <logger name="org.apache.activemq.artemis.core.client" level="off" additivity="false">
        <appender-ref ref="main"/>
    </logger>
    <logger name="io.confluent.amq.persistence" level="trace" additivity="false">
        <appender-ref ref="main"/>
    </logger>
</Configuration>
